:root {
  --primary: #bb9457;
  --text: #141414;
  --muted: #777;
  --bg: #f8f9fa;
  --card-bg: #ffffff;
  --border: #e0e0e0;
  --shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

/* Website Title */
.website-title {
  color: var(--text);
  text-decoration: none;
  font-size: 1.5rem;
}

/* Main Page */
.product-page {
  margin: 5rem 20rem;
  padding: 100px 20px 20px;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
  margin-bottom: 20px;
}

.breadcrumb a {
    color: var(--text);
    text-decoration: none;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.product-image {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.product-image .image {
  width: 100%;
  max-width: 500px; 
  aspect-ratio: 1 / 1; 
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.product-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.status {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  width: fit-content;
}

.product-details .product-name {
    margin: 0;
    font-size: 24px;
}

.product-details .product-price {
    font-size: 20px;
    font-weight: bold;
}

.product-price small {
    display: block;
    float: right;
    font-size: 12px;
    font-weight: normal;
}

.color-options {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #aaa;
    cursor: pointer;
}

.quantity-control {
  display: inline-flex;
  align-items: center;
  background: #d3d3d3;
  padding: 10px 15px;
  gap: 15px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.quantity-control button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.quantity-control span {
  min-width: 20px;
  text-align: center;
}

.stock-bar {
    font-size: 12px;
}

.stock-progress {
    width: 100%;
    height: 6px;
    background: #ddd;
    margin-top: 5px;
}

.stock-fill {
    height: 100%;
    background: var(--primary);
    width: 50%;
}

.product-actions {
    margin-top: 2em;
    display: flex;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.product-actions form {
    flex: 1;
}

.product-actions form button {
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.add-to-cart {
    background: #ddd;
}

.buy-now {
    background: var(--primary);
    color: #fff;
}

.product-info details {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.product-info summary {
    cursor: pointer;
    font-weight: bold;
}